<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Acebook</title>
  </head>
  <body>
    <div class="about">
    <h1>Welcome to Acebook</h1>
    <h2>Its Facebook Dummy!</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNirRKGFsYKaNX1R-xmuvdP3ZvPa5NJHEOr550gOn0oHAUzldoJw" alt="Mountain View">
  </div>
  </body>
</html>
